.App{
    height:100vh;
    background-color: rgb(246, 246, 249);
}
.login{
    height:100%;
    display:flex;
}
.register{
    height:100%;
    display:flex;
}
.main-login{
    width: 400px;
    height: 400px;
    margin:auto;
    display:flex;
    flex-direction: column;
    padding:20px;
    border:1px solid #ced4da;
}
.main-register{
    width:400px;
    height:500px;
    margin:auto;
    display:flex;
    flex-direction: column ;
    align-self:center;
    padding:20px;
    border:1px solid #ced4da;
}
.title-auth{
    
    text-align:center;
    font-size:22px;
}
.form-auth{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.logo-auth{
    width:50%;
    align-self: center;
}
.home{
    height:100%;
    display:flex;
    flex-direction: column;
}
.header-home{
    display:flex;
    flex-direction: column;
    background-color: white !important;
    margin-bottom: 20px;
}
.header{
    width: 90%;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.options{
    display:flex;
    align-items: center;
}
.option{
    margin-left:10px;
    margin-right:10px;
}

.logo-home{
    height:80px;
}
.img-option{
    height:22px;
}

.img-avatar{
    height:45px;
    width:45px;
    border-radius:50%;
}
.btn-avatar{
    border:0px;
    background-color: #ffffff;
}
.write{
    border:1px solid #ced4da;
}
.topics{
    margin-top: 20px;
    flex:1;
    flex-wrap: wrap;
    text-transform: uppercase;
    width: 90%;
    margin: auto;
}
.topic{
    font-size: 16px;
    font-weight:400;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 20px;
}
.content-home{
    display:flex;
    flex:1;
    flex-direction: column;
    margin:auto;
    width:90%;
}
.banner-topic img{
    height:350px;
    width:100%;
}
.main{
    flex:1;
    background-color: white;
}
.posts{
    height:100%;
    padding-left:150px;
    padding-right:150px;
}
.save{
    position: fixed;
    display:flex;
    bottom:20px;
    text-align: center;
}
.top-page img{
    height:30px;
}
.save img{
    height:20px;
}
.post{
    display:flex;
    flex-direction: column;
    height:30%;
    width:30%;
    justify-content: space-around;
    margin:auto;
}

.create-posts{
    align-self: center;
}
